.multistep-form {
  width: 100%;
  
  .form-inner {
    position: relative;
    width: 900px;
    margin: 0 auto;
    padding: 50px 0;

    form {
      display: inline-block;
      margin: 25px;
      width: calc(100% - 50px);
    }

    .btn-back,
    .btn-next {
      position: absolute;
      top: 300px;
      border: 1px solid #666;
      outline: none;
      padding: 10px;
      background-color: #fff;
      transition: background-color 0.2s;
      transition-timing-function: ease-out;     
      font-size: 16px;

      &:hover {
        background-color: #ddd;
        cursor: pointer;
      }
    }

    .btn-back {
      left: 0px;
    }
    .btn-next {
      right: 0px;
    }    
  }


}